* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font:bold 1em Arial, sans-serif;
}

.Pool&Spa{
  background-color: greenyellow;
}
.word1{
  background-color: rgb(55, 187, 248);
}
.word2{
  background-color: thistle;
}
.word3{
  background-color: aqua;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}
img{
  width:100px;
  padding: 5px;
}
.container {
  position: relative;
  background-color: #020c2e;
  color: #fcfbfb;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;

  font-size: 2rem;
  box-shadow: 2px 4px 5px 0 #bdbdbd;
  box-sizing: border-box;
  border-radius: 15px;
  border: solid rgb(12, 12, 12);
}

input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  font-size: 1.6rem; /* Slightly reduce font size for input elements */
}

p {
  font-size: 1.8rem; /* Adjust font size for better readability */
  color: #ff0404; /* Use a more readable red color */
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.8rem;
  color: #db6707; /* Use an easier-to-read orange color */
}

button {
  width: 100%;
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}
#SIAns,
.ToRAns,
.FRAns,
.yardAns,
.meterAns,
.galAns,
.FAns,
.TRAns,
.RAns,
.ARAns,
.ACAns,
.CAns {
  background-color: darkgrey;
  color: #000;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.6rem; /* Adjust font size for better readability */
}
iframe{
  position: relative;
  background-color: #020c2e;
  color: #fcfbfb;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;

  font-size: 2rem;
  box-shadow: 2px 4px 5px 0 #bdbdbd;
  box-sizing: border-box;
  border-radius: 15px;
  border: solid rgb(12, 12, 12);
}


footer {
  display: flex;
  box-sizing: border-box;
  margin-top: 0px;
  width: 100%;
  padding: 5px;
  height: auto;
  background-color: #b4f72d;
  font-size: x-large;
  color: #23211e;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-left: 30px;
  justify-content: center;
}
li {
  margin: 25px;
  justify-items: center;
}

/* Media query for screens with a max width of 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    font-size: 1.4rem; /* Slightly reduce font size for smaller screens */
  }
}
